<form method="POST" action="/register" enctype="multipart/form-data">
  <input type="hidden" name="_method" value="PUT">

  <div>
    <label for="firstName">First Name</label>
    <input type="text" name="firstName" id="firstName" value="<%= user.firstName %>">
  </div>
  <div>
    <label for="lastName">Last Name</label>
    <input type="text" name="lastName" id="lastName" value="<%= user.lastName %>">
  </div>
  <div>
    <label for="username">Username</label>
    <input type="text" name="username" id="username" value="<%= user.username %>">
  </div>
  <div>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" value="<%= user.email %>">
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
  </div>
  <div>
    <label for="passwordConfirmation">Password Confirmation</label>
    <input type="password" name="passwordConfirmation" id="passwordConfirmation">
  </div>
  <label for="image">Image</label>
  <img src="<%= user.imageSRC %>" alt="<%= user.username %>">
  <input type="file" name="image" id="image" value="<%= user.imageSRC %>">

  <button class="button">Update Profile</button>
</form>
