<h1><%= user.username %></h1>

<h4><%= user.firstName %></h4>
<h4><%= user.lastName %></h4>

<p><%= user.email %></p>
<img src="<%= user.imageSRC %>" alt="<%= user.username %>">

<a href="/profile/<%= user.id %>/edit" class="button">Edit</a>

</div>


<form method="POST" action="/profile">
  <input type="hidden" name="_method" value="DELETE">
  <button class="button alert">Delete</button>
</form>
