<div class="columns">
  <div class="animated fadeInUp column is-half is-offset-one-quarter box">
    <h1 class="title is-1"><%= user.username %>'s Profile</h1>

    <h1>Username: <%= user.username %></h1>

    <p>E-mail address: <%= user.email %></p>
    <img src="<%= user.imageSRC %>" alt="<%= user.username %>">

    <a href="/profile/<%= user.id %>/edit" class="button is-primary">Edit</a>




    <form method="POST" action="/profile">
      <input type="hidden" name="_method" value="DELETE">
      <button class="button is-danger is-fullwidth">Delete</button>
    </form>

  </div>
</div>
