<h1>Edit Point</h1>

<div class="row">
  <form class="six columns" method="POST" action="/points">
    <div>
      <label for="pointName">Charge Point Name</label>
      <input class="u-full-width" type="text" name="pointName" id="pointName" value="<%= point.pointName %>">
    </div>

    <div>
      <label for="address">Address</label>
      <input class="u-full-width" type="text" name="address" id="address" value="<%= point.address %>">
    </div>

    <div>
      <label for="lat">Lat</label>
      <input class="u-full-width" type="text" name="lat" id="lat" value="<%= point.lat %>">
    </div>
    <div>
      <label for="lng">Long</label>
      <input class="u-full-width" type="text" name="lng" id="lng" value="<%= point.lng %>">
    </div>

    <div>
      <label for="available">Availability</label>
      <input class="u-full-width" type="text" name="available" id="available" value="<%= point.available %>">
    </div>

    <div>
      <label for="Format">Format of Connector</label>
      <input class="u-full-width" type="text" name="format" id="format" value="<%= point.format %>">
    </div>

    <div>
      <label for="Notes">Notes</label>
      <input class="u-full-width" type="text" name="notes" id="notes" value="<%= point.notes %>">
    </div>


    <div>
      <label for="bookingStartTime">Booking Start Time</label>
      <input id="bookingStartTime" type="datetime-local">
    </div>
    <div>
      <label for="bookingEndTime">Booking End Time</label>
      <input id="bookingEndTime" type="datetime-local">
    </div>

    <button class="button-primary u-full-width">Edit</button>
  </form>
</div>
