

<div class="columns">

  <div class="column is-half is-offset-one-quarter box">
    <h1 class="title is-1">Charge Point Editor</h1>
    <form class="form" method="POST" action="/points/<%= point.id %>" enctype="multipart/form-data">
      <input class="input" type="hidden" name="_method" value="PUT">
      <div>
        <label class="label" for="pointName">Charge Point Name</label>
        <input class="input" type="text" name="pointName" id="pointName" value="<%= point.pointName %>">
      </div>

      <div>
        <label class="label" for="address">Address</label>
        <input class="input" type="text" name="address" id="address" value="<%= point.address %>">
      </div>

      <div>

        <input hidden name="lat" id="lat" value="<%= point.lat %>">
      </div>
      <div>
        <input hidden name="lng" id="lng" value="<%= point.lng %>">
      </div>

      <div>
        <label class="label" for="available">Availability</label>
        <input class="input" type="text" name="available" id="available" value="<%= point.available %>">
      </div>

      <div>
        <label class="label" for="Format">Format of Connector</label>
        <input class="input" type="text" name="format" id="format" value="<%= point.format %>">
      </div>

      <div>
        <label class="label" for="Notes">Notes</label>
        <input class="input" type="text" name="notes" id="notes" value="<%= point.notes %>">
      </div>
      <label class="label" for="image">Image</label>
      <img src="<%= point.imageSRC %>" alt="<%= point.pointName %>">
      <input class="input" type="file" name="image" id="image" value="<%= point.imageSRC %>">


      <button class="update-button button is-fullwidth is-primary is-outlined">Update Charge Point</button>
    </form>
  </div>
</div>
