<div class="columns">

  <div class="column is-half points">

    <% points.forEach((point) => { %>

      <a href="/points/<%= point.id %>">
      <div class="card index-card">
      <div class="card-image index-card-image">
      <img class="thumbnail" src="<%= point.imageSRC %>" alt="<%= point.pointName %>">
      </div>
      <div class='card-content'>
      <h2><%= point.pointName %></h2>
      <h4><%= point.address %></h4>
      </div>
      </div>
      </a>
      <% }) %>
    </div>
    <div class="column is-half">
      <div class="index-box">
      <div id="map" class="column markers loading" data-points="<%= JSON.stringify(points) %>"></div>
    </div>
    </div>
  </div>
